DATABASE_URL="postgresql://afjk:localdev@localhost:5432/afjk"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
TWITTER_USERNAME="afjk01"
NITTER_HOST="https://nitter.net"
TWITTER_EMBED_COUNT=3
TWITTER_EMBED_REVALIDATE=600
