openapi: 3.1.0
info:
  title: Scene Sync AI Wrapper API
  version: 0.1.0
  description: |
    Provider-neutral wrapper API for Scene Sync. Any AI client can call these
    endpoints by passing the opaque `sessionId` in the request body.
    Stable AI-facing tool names are documented separately in
    `docs/scene-sync-ai-spec.md` and map to this HTTP surface without renaming.
servers:
  - url: https://afjk.jp/presence/api/ai
    description: Production
paths:
  /link/redeem:
    post:
      operationId: redeemAiLink
      summary: Redeem a 6-digit pairing code and create an AI session
      description: |
        Stable AI tool mapping: `scene_sync_redeem`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  pattern: '^\d{6}$'
      responses:
        '200':
          description: AI session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiRedeemResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '410':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalError'
  /link/revoke:
    post:
      operationId: revokeAiLink
      summary: Revoke an AI session and underlying Scene Sync link
      description: |
        Stable AI tool mapping: `scene_sync_revoke`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionOnlyRequest'
      responses:
        '200':
          description: Link revoked
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
  /room/{roomId}/scene:
    post:
      operationId: getSceneViaAiSession
      summary: Get current scene state
      description: |
        Stable AI tool mapping: `scene_sync_get_scene`.
        Use this as the source of truth for before/after verification.
      parameters:
        - in: path
          name: roomId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionOnlyRequest'
      responses:
        '200':
          description: Scene snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SceneState'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalError'
  /room/{roomId}/broadcast:
    post:
      operationId: broadcastSceneMutationViaAiSession
      summary: Apply a scene mutation
      description: |
        Stable AI tool mapping: `scene_sync_broadcast`.
        Use this for scene-add, scene-delta, scene-remove, scene-env, and scene-batch.
        When creating a primitive object such as a box, always include `payload.asset`
        with `type`, `primitive`, and `color`.
        Verify with `/room/{roomId}/scene` after create/update/delete when
        object correctness matters.
      parameters:
        - in: path
          name: roomId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionId, payload]
              properties:
                sessionId:
                  type: string
                payload:
                  description: |
                    Scene mutation payload. For `scene-add` of a primitive object, do not omit
                    `asset`. A cube without `asset` may be created without the intended appearance.
                  oneOf:
                    - $ref: '#/components/schemas/SceneAddPayload'
                    - $ref: '#/components/schemas/SceneDeltaPayload'
                    - $ref: '#/components/schemas/SceneRemovePayload'
                    - $ref: '#/components/schemas/SceneEnvPayload'
                    - $ref: '#/components/schemas/SceneBatchPayload'
              example:
                sessionId: v1.example
                payload:
                  kind: scene-add
                  objectId: ai-cube-1
                  name: Orange Cube
                  position: [0, 0.5, 0]
                  rotation: [0, 0, 0, 1]
                  scale: [1, 1, 1]
                  asset:
                    type: primitive
                    primitive: box
                    color: '#ff8800'
      responses:
        '200':
          description: Broadcast result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalError'
  /room/{roomId}/ai-command:
    post:
      operationId: runAiCommandViaAiSession
      summary: Request a browser-only action from the linked peer
      description: |
        Stable AI tool mapping: `scene_sync_ai_command`.
        Use this for browser-only actions such as camera queries, focus, undo/redo,
        screenshots, and URL-based GLB import. For `focusObject`, always send
        `params.objectId`. Do not call `focusObject` without an object id.
        For `uploadGlbFromUrl`, confirm the result with `/room/{roomId}/scene`
        when deduplication or placement accuracy matters.
      parameters:
        - in: path
          name: roomId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionId, action]
              properties:
                sessionId:
                  type: string
                requestId:
                  type: string
                action:
                  type: string
                  enum:
                    - getCameraPose
                    - focusObject
                    - undo
                    - redo
                    - getHistory
                    - screenshot
                    - uploadGlbFromUrl
                params:
                  description: |
                    Parameters depend on `action`. For `focusObject`, send
                    `{ "objectId": "<target object id>" }`. For `uploadGlbFromUrl`,
                    send at least `{ "url": "https://..." }`.
                  oneOf:
                    - $ref: '#/components/schemas/GetCameraPoseParams'
                    - $ref: '#/components/schemas/FocusObjectParams'
                    - $ref: '#/components/schemas/UndoRedoParams'
                    - $ref: '#/components/schemas/GetHistoryParams'
                    - $ref: '#/components/schemas/ScreenshotParams'
                    - $ref: '#/components/schemas/UploadGlbFromUrlParams'
                targetPeerId:
                  type: string
            examples:
              focusObject:
                summary: Focus the camera on ai-cube-1
                value:
                  sessionId: v1.example
                  action: focusObject
                  params:
                    objectId: ai-cube-1
              getCameraPose:
                summary: Read the current camera pose
                value:
                  sessionId: v1.example
                  action: getCameraPose
                  params: {}
              uploadGlbFromUrl:
                summary: Import a GLB from a URL
                value:
                  sessionId: v1.example
                  action: uploadGlbFromUrl
                  params:
                    url: https://example.com/model.glb
                    objectId: web-demo-1
                    position: [0, 0.5, 0]
      responses:
        '200':
          description: AI command result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiCommandResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  responses:
    ValidationError:
      description: Missing or malformed request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            ok: false
            error:
              code: validation_error
              message: focusObject requires params.objectId
              retryable: false
    UnauthorizedError:
      description: Session is invalid, expired, or revoked.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            ok: false
            error:
              code: unauthorized
              message: session expired
              retryable: false
    ForbiddenError:
      description: Session does not match the requested room or target.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            ok: false
            error:
              code: forbidden
              message: session does not match room
              retryable: false
    NotFoundError:
      description: The requested room, object, code, or target peer was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            ok: false
            error:
              code: not_found
              message: object not found
              retryable: false
    ConflictError:
      description: The request conflicts with current state or a stale token/code.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            ok: false
            error:
              code: conflict
              message: pairing code already redeemed
              retryable: true
    InternalError:
      description: Unexpected wrapper or browser-side failure.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            ok: false
            error:
              code: internal_error
              message: unexpected internal error
              retryable: true
  schemas:
    SessionOnlyRequest:
      type: object
      required: [sessionId]
      properties:
        sessionId:
          type: string
          description: Opaque session token `v1.<base64url(iv|ciphertext|tag)>`
    AiRedeemResponse:
      type: object
      required: [ok, sessionId, roomId, expiresAt]
      properties:
        ok:
          type: boolean
        sessionId:
          type: string
        roomId:
          type: string
        expiresAt:
          type: integer
    ErrorResponse:
      type: object
      required: [ok, error]
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: object
          required: [code, message, retryable]
          properties:
            code:
              type: string
              enum:
                - validation_error
                - unauthorized
                - forbidden
                - not_found
                - conflict
                - internal_error
            message:
              type: string
            retryable:
              type: boolean
    BroadcastResponse:
      type: object
      required: [ok, room, peers, userPresent]
      properties:
        ok:
          type: boolean
        room:
          type: string
        peers:
          type: integer
        userPresent:
          type: boolean
    AiCommandResponse:
      type: object
      required: [ok, room, peers, userPresent, targetPeerId, result]
      properties:
        ok:
          type: boolean
        room:
          type: string
        peers:
          type: integer
        userPresent:
          type: boolean
        targetPeerId:
          type: string
        result:
          $ref: '#/components/schemas/AiResultPayload'
    AiResultPayload:
      type: object
      required: [kind, ok]
      properties:
        kind:
          type: string
          const: ai-result
        requestId:
          type: string
        ok:
          type: boolean
        error:
          type: string
      additionalProperties: true
    GetCameraPoseParams:
      type: object
      description: No parameters.
      properties: {}
      additionalProperties: false
      example: {}
    FocusObjectParams:
      type: object
      required: [objectId]
      additionalProperties: false
      properties:
        objectId:
          type: string
          description: Existing scene object id to focus the camera on.
      example:
        objectId: ai-cube-1
    UndoRedoParams:
      type: object
      description: No parameters.
      properties: {}
      additionalProperties: false
      example: {}
    GetHistoryParams:
      type: object
      additionalProperties: false
      properties:
        count:
          type: integer
          minimum: 1
          maximum: 100
          description: Number of recent history entries to return.
      example:
        count: 10
    ScreenshotParams:
      type: object
      description: No parameters.
      properties: {}
      additionalProperties: false
      example: {}
    UploadGlbFromUrlParams:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
        objectId:
          type: string
        name:
          type: string
        position:
          $ref: '#/components/schemas/Vec3'
        rotation:
          $ref: '#/components/schemas/Quat'
        scale:
          $ref: '#/components/schemas/Vec3'
      example:
        url: https://example.com/model.glb
        objectId: web-demo-1
        position: [0, 0.5, 0]
    SceneState:
      type: object
      properties:
        envId:
          type: string
        objects:
          type: object
          additionalProperties:
            type: object
            additionalProperties: true
    SceneAddPayload:
      type: object
      description: |
        Adds a new object to the scene. If you are creating a primitive object,
        include `asset` and set `asset.type=primitive`, `asset.primitive`, and `asset.color`.
        Do not rely on `name` alone to describe the appearance.
      required: [kind, objectId]
      properties:
        kind:
          type: string
          const: scene-add
        objectId:
          type: string
          description: Stable object identifier chosen by the caller.
        name:
          type: string
          description: Human-readable label. This does not define appearance.
        position:
          $ref: '#/components/schemas/Vec3'
        rotation:
          $ref: '#/components/schemas/Quat'
        scale:
          $ref: '#/components/schemas/Vec3'
        asset:
          description: |
            Required when adding a primitive object. Example:
            `{ "type": "primitive", "primitive": "box", "color": "#ff8800" }`
          oneOf:
            - $ref: '#/components/schemas/PrimitiveAsset'
            - $ref: '#/components/schemas/GenericAsset'
        meshPath:
          type: string
        onBehalfOf:
          type: string
      example:
        kind: scene-add
        objectId: ai-cube-1
        name: Orange Cube
        position: [0, 0.5, 0]
        rotation: [0, 0, 0, 1]
        scale: [1, 1, 1]
        asset:
          type: primitive
          primitive: box
          color: '#ff8800'
    SceneDeltaPayload:
      type: object
      required: [kind, objectId]
      properties:
        kind:
          type: string
          const: scene-delta
        objectId:
          type: string
        name:
          type: string
        position:
          $ref: '#/components/schemas/Vec3'
        rotation:
          $ref: '#/components/schemas/Quat'
        scale:
          $ref: '#/components/schemas/Vec3'
        asset:
          oneOf:
            - $ref: '#/components/schemas/PrimitiveAsset'
            - $ref: '#/components/schemas/GenericAsset'
        meshPath:
          type: string
        onBehalfOf:
          type: string
    SceneRemovePayload:
      type: object
      required: [kind, objectId]
      properties:
        kind:
          type: string
          const: scene-remove
        objectId:
          type: string
        onBehalfOf:
          type: string
    SceneEnvPayload:
      type: object
      required: [kind, envId]
      properties:
        kind:
          type: string
          const: scene-env
        envId:
          type: string
        onBehalfOf:
          type: string
    SceneBatchPayload:
      type: object
      required: [kind, ops]
      properties:
        kind:
          type: string
          const: scene-batch
        ops:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/SceneAddPayload'
              - $ref: '#/components/schemas/SceneDeltaPayload'
              - $ref: '#/components/schemas/SceneRemovePayload'
              - $ref: '#/components/schemas/SceneEnvPayload'
        onBehalfOf:
          type: string
      example:
        kind: scene-batch
        ops:
          - kind: scene-add
            objectId: ai-cube-1
            name: Orange Cube
            position: [0, 0.5, 0]
            rotation: [0, 0, 0, 1]
            scale: [1, 1, 1]
            asset:
              type: primitive
              primitive: box
              color: '#ff8800'
    PrimitiveAsset:
      type: object
      required: [type, primitive]
      properties:
        type:
          type: string
          const: primitive
        primitive:
          type: string
          description: Primitive mesh type such as box, sphere, cylinder, or plane.
          enum: [box, sphere, cylinder, plane]
        color:
          type: string
          description: Hex color for the primitive, for example `#ff8800`.
      example:
        type: primitive
        primitive: box
        color: '#ff8800'
    GenericAsset:
      type: object
      description: Non-primitive asset payload used by custom meshes or future asset types.
      properties: {}
      additionalProperties: true
    Vec3:
      type: array
      minItems: 3
      maxItems: 3
      items:
        type: number
    Quat:
      type: array
      minItems: 4
      maxItems: 4
      items:
        type: number
